<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.manager.security.dao.BookDao">
    <resultMap id="bookMap" type="com.qianfeng.manager.security.entity.Books">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="author" column="author"></result>
        <result property="bookDesc" column="book_desc"></result>
        <result property="createTime" column="create_time"></result>

        <association property="bookType" column="type_id" select="com.qianfeng.manager.security.dao.BookDao.checkTypeNameById"></association>
    </resultMap>


    <select id="checkTypeNameById" resultType="java.lang.String">
        SELECT `name` FROM book_type WHERE id = #{id}
    </select>

    <select id="getAllBooks" resultMap="bookMap">
        select * from books
    </select>

    <select id="deleteById" resultType="java.lang.String">
        delete from books where id = #{id}
    </select>









</mapper>







